<head>
  <link rel="stylesheet" href="pages.scss">
</head>

<body>
  <h1 class= "page-title">Pages</h1>

  <% count = 0 %>
  <% @pages.each do |page| %>
  <% count += 1 %>
    <p><%= link_to "Page #{count} (id: #{page.id})", page_path(page.id), class:"page-links"%></p>

  <% end %>

  <div class="new-button">
  <%= link_to "[New]", new_page_path %>
  </div>
</body>
