/* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  box-sizing: border-box;
}

header {
  font-family: 'Alfa Slab One', cursive;
  /*font-family: 'Fontdiner Swanky', cursive;*/
  /*font-family: 'Chango', cursive;*/
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  background-color: #70a8ea;
  text-align: center;
  padding: 20px;
}

footer p {
  color: white;
  margin: 0;
}

.main-title a {
  text-decoration: none;
  color: #345071;
}

.main-title:hover {
  text-decoration: none;
}

.sticky-footer {
  flex: 1;
}
/* =================================
  Banner
==================================== */

.banner {
  background-image: url("http://oi68.tinypic.com/20po9pj.jpg");
  background-size: cover;
  background-position-y: 50%;
  padding: 40px 0 20px;
  text-align: left;
  background-repeat: no-repeat;
}

.banner h1,h3 {
  margin-left: 400px;
  color: white;
}

.banner h1 {
  font-size: 3em;
  margin-bottom: -10px;
}

.banner-button {
  margin-left: 400px;
  margin-bottom: 56px;
}
