*{
  background-color: white;
}

.header {
  color: white;
  background-color: grey;
  font-family: 'Fontdiner Swanky', cursive;
  /*font-family: 'Chango', cursive;*/
  height: 100px;
  padding-top: center;
  max-width: 100%;
  width: 100%;
  margin: auto;
text-align: center;
}

.footer {
  background: #333333;
  color: white;
  text-align: center;
  padding-top: 15px;
  margin-top: 5%;
  height: 50px;
}
