h1{
  color: black;
}

.page-title{
  text-align: center;
  align-items: center;
  text-color: red;
}

.page-links{
  text-align: center;
  align-items: center;
  margin-left: 400px;
  background-color: white;
}


.new-button {
  color: #333333;
  justify-content: center;
  text-align: center;

}

.page-image{
  width: 100%;
}

.page-text{
  text-align: center;
  align-items: center;
  margin-left: 400px;
  background-color: white;

}

.row.center {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.btn.btn-primary.btn-lg.btnSubmit {
  background-color: #345071;
}
