h1{
  color: black;
}

.page-title{
  text-align: center;
  align-items: center;
  text-color: red;
}

.page-links{
  text-align: center;
  align-items: center;
  margin-left: 400px;
  background-color: white;
}


.new-button {
  color: #333333;
  justify-content: center;
  text-align: center;

}

.page-image{
  height: 25%;
  width: 25%;
  margin-left: 200px;
}

.page-text{
  text-align: center;
  align-items: center;
  margin-left: 400px;
  background-color: white;

}
